@model ArtistSocialNetwork.Models.LoginWeb

@{
    Layout = null;
    ViewBag.Title = "Login";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="~/Website/images/logo-16x16.png" />
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display" rel="stylesheet">
    <link href='https://cdn.jsdelivr.net/npm/boxicons@1.9.2/css/boxicons.min.css' rel='stylesheet'>

    <!-- Styles -->
    <link href="~/Website/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="~/Website/css/style.css" rel="stylesheet">
    <link href="~/Website/css/components.css" rel="stylesheet">
    <link href="~/Website/css/auth.css" rel="stylesheet">
    <link href="~/Website/css/forms.css" rel="stylesheet">
    <link href="~/Website/css/media.css" rel="stylesheet">
</head>

<body>
    <div class="row ht-100v flex-row-reverse no-gutters">
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <div class="signup-form">
                <div class="auth-logo text-center mb-5">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="~/Website/images/logo-64x64.png" class="logo-img" alt="Logo">
                        </div>
                        <div class="col-md-10">
                            <p>Argon Social Network</p>
                            <span>Design System</span>
                        </div>
                    </div>
                </div>
                <form asp-action ="Index" method="post">
                    <div class="row">
                        <div class="col-md-12 my-2">
                            @if (TempData["Message"] != null)
                            {
                                <div class="alert alert-@TempData["AlertType"]">
                                    @TempData["Message"]
                                </div>
                            }
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input asp-for="Email" placeholder="  Email..." class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input asp-for="Password" placeholder="  Mật khẩu..." class="form-control" type="password" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <a href="forgot-password.html">Quên mật khẩu?</a>
                        </div>
                        <div class="col-md-6">
                            <label class="custom-control material-checkbox">
                                <input type="checkbox" class="material-control-input">
                                <span class="material-control-indicator"></span>
                                <span class="material-control-description">Nhớ mật khẩu</span>
                            </label>
                        </div>
                        <div class="col-md-6 text-right">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Đăng nhập</button>
                            </div>
                        </div>
                        <div class="col-md-12 text-center mt-5">
                            <span class="go-login">Chưa có tài khoản , tạo tài khoản? <a href="@Url.Action("Index", "SignUp")">Đăng ký</a></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6 auth-bg-image d-flex justify-content-center align-items-center">
            <div class="auth-left-content mt-5 mb-5 text-center">
                <div class="weather-small text-white">
                    <p class="current-weather"><i class='bx bx-sun'></i> <span>14&deg;</span></p>
                    <p class="weather-city">Gyumri</p>
                </div>
                <div class="text-white mt-5 mb-5">
                    <h2 class="create-account mb-3">Welcome Back</h2>
                    <p>Thank you for joining. Updates and new features are released daily.</p>
                </div>
                <div class="auth-quick-links">
                    <a href="#" class="btn btn-outline-primary">Purchase template</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade fingerprint-modal" id="fingerprintModal" tabindex="-1" role="dialog" aria-labelledby="fingerprintModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <h3 class="text-muted display-5">Place your Finger on the Device Now</h3>
                    <img src="~/Website/images/icons/auth-fingerprint.png" alt="Fingerprint">
                </div>
            </div>
        </div>
    </div>

    <!-- Core -->
    <script src="~/Website/js/jquery/jquery-3.3.1.min.js"></script>
    <script src="~/Website/js/popper/popper.min.js"></script>
    <script src="~/Website/js/bootstrap/bootstrap.min.js"></script>
    <!-- Optional -->
    <script src="~/Website/js/app.js"></script>
</body>

</html>

