@model ArtistSocialNetwork.Models.LoginWeb

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="~/Admin/images/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous" />
    <title>Đăng Nhập</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
          integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/Website/assets/css/login.css" />
</head>
<body>
    <section class="vh-100">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                         class="img-fluid"
                         alt="Sample image" />
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <!-- Form đăng nhập -->
                    <form asp-controller="Login" asp-action="Index" method="post">
                        <!-- Hiển thị thông báo lỗi (nếu có) -->
                        @if (TempData["Message"] != null)
                        {
                            <div class="alert alert-@TempData["AlertType"]">
                                @TempData["Message"]
                            </div>
                        }

                        <!-- Đăng nhập bằng mạng xã hội -->
                        <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                            <p class="lead fw-normal mb-0 me-3">Đăng Nhập Bằng</p>
                            <button type="button"
                                    class="btn btn-primary btn-floating mx-1">
                                <i class="fab fa-facebook-f"></i>
                            </button>
                            <button type="button"
                                    class="btn btn-primary btn-floating mx-1">
                                <i class="fab fa-twitter"></i>
                            </button>
                            <button type="button"
                                    class="btn btn-primary btn-floating mx-1">
                                <i class="fab fa-linkedin-in"></i>
                            </button>
                        </div>

                        <!-- Đường kẻ chia cách -->
                        <div class="divider d-flex align-items-center my-4">
                            <p class="text-center fw-bold mx-3 mb-0">Hoặc</p>
                        </div>

                        <!-- Input Email -->
                        <div class="form-outline mb-4">
                            <input asp-for="Email" placeholder="Nhập địa chỉ email hợp lệ" class="form-control form-control-lg" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <!-- Input Mật khẩu -->
                        <div class="form-outline mb-3">
                            <input asp-for="Password" placeholder="Nhập mật khẩu" class="form-control form-control-lg" type="password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <!-- Remember Me và Quên mật khẩu -->
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="form-check mb-0">
                                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                                <label class="form-check-label" for="form2Example3">
                                    Ghi nhớ đăng nhập
                                </label>
                            </div>
                            <a href="#!" class="text-body">Quên Mật Khẩu?</a>
                        </div>

                        <!-- Nút Đăng Nhập -->
                        <div class="text-center text-lg-start mt-4 pt-2">
                            <button type="submit" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem">
                                Đăng Nhập
                            </button>
                            <p class="small fw-bold mt-2 pt-1 mb-0">
                                Bạn chưa có tài khoản?
                                <a href="@Url.Action("Index", "SignUp")" class="link-danger">Đăng Ký</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
