@model Business.DocumentInfo

@{
    ViewData["Title"] = "Edit";
}
@section Style {
    <style>
        .form-check .form-check-input {
            margin-left: 0px !important;
        }
    </style>
}
<div class="bdlayout p-0">
    <h2 class="h2-title bg4 text-white">Chỉnh sửa tài khoản </h2>
    @{
        if (TempData["AlertMessage"] != null)
        {
            <div id="alert-message" class="alert @TempData["AlertType"]">
                @TempData["AlertMessage"]
            </div>
        }
    }
    <div class="container my-4">

        <form asp-action="Edit">
            <div class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdDcIf" />
                <div class="form-group form-check col-md-6">
                    <label class="form-check-label">
                        @Html.DisplayNameFor(model => model.Active) <br />
                        <input class="form-check-input" asp-for="Active" />
                    </label>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="IdAc" class="control-label"></label>
                    <select asp-for="IdAc" class="form-control" asp-items="ViewBag.IdAccount"></select>
                    <span asp-validation-for="IdAc" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="IdEvent" class="control-label"></label>
                    <select asp-for="IdEvent" class="form-control" asp-items="ViewBag.IdEvent"></select>
                    <span asp-validation-for="IdEvent" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="IdProject" class="control-label"></label>
                    <select asp-for="IdProject" class="form-control" asp-items="ViewBag.IdProject"></select>
                    <span asp-validation-for="IdProject" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="IdArtwork" class="control-label"></label>
                    <select asp-for="IdArtwork" class="form-control" asp-items="ViewBag.IdArtwork"></select>
                    <span asp-validation-for="IdArtwork" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="ImageFile" class="control-label"></label>
                    <input asp-for="ImageFile" class="form-control" type="file" />
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                    <img id="preview" src="@Url.Content(Model.UrlDocument==null?"~/Admin/img/avatars/01.png":"~/Upload/images/"+Model.UrlDocument)" class="rounded-circle" height="40" width="40" />
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Created_by" class="control-label"></label>
                    <select asp-for="Created_by" class="form-control" asp-items="ViewBag.IdAccount"></select>
                    <span asp-validation-for="Created_by" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Created_when" class="control-label"></label>
                    <input asp-for="Created_when" class="form-control" />
                    <span asp-validation-for="Created_when" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Last_update_by" class="control-label"></label>
                    <select asp-for="Last_update_by" class="form-control" asp-items="ViewBag.IdAccount"></select>
                    <span asp-validation-for="Last_update_by" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Last_update_when" class="control-label"></label>
                    <input asp-for="Last_update_when" class="form-control" />
                    <span asp-validation-for="Last_update_when" class="text-danger"></span>
                </div>
                <div class="form-group btnGround">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-dark">Trở về</a>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        DateTime currentDate = DateTime.Now;

    }
    <script src="
https://cdn.jsdelivr.net/npm/ckeditor5-classic-free-full-feature@35.4.1/build/ckeditor.min.js
            "></script>
    <script src="~/admin/controllers/DocumentController.js?@currentDate"></script>
    <script src="~/admin/controllers/ckeditorDocumentInfo.js?@currentDate"></script>
}
