@model Business.Role

@{
    ViewData["Title"] = "Edit";
}
@section Style {
    <style>
        .form-check .form-check-input {
            margin-left: 0px !important;
        }
    </style>
}

<div class="bdlayout p-0">
    <h2 class="h2-title bg4 text-white">Chỉnh sửa vai trò </h2>
    @{
        if (TempData["AlertMessage"] != null)
        {
            <div id="alert-message" class="alert @TempData["AlertType"]">
                @TempData["AlertMessage"]
            </div>
        }
    }

    <div class="container my-4">
        <form asp-action="Edit">
            <div class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdRole" />
                <div class="form-group form-check col-md-6">
                    <label class="form-check-label">
                        @Html.DisplayNameFor(model => model.Active)<br />
                        <input class="form-check-input" asp-for="Active" /> 
                    </label>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="RoleName" class="control-label"></label>
                    <input asp-for="RoleName" class="form-control" />
                    <span asp-validation-for="RoleName" class="text-danger"></span>
                </div>
                <div class="form-group btnGround">
                    <input type="submit" value="Sửa" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-dark">Trở về</a>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
