@model Business.DocumentInfo

@{
    ViewData["Title"] = "Edit";
}
@section Style {
    <style>
        .form-check .form-check-input {
            margin-left: 0px !important;
        }
    </style>
}

<div class="bdlayout p-0">
    <h2 class="h2-title bg4 text-white">Chỉnh sửa thông tin người dùng </h2>
    @{
        if (TempData["AlertMessage"] != null)
        {
            <div id="alert-message" class="alert @TempData["AlertType"]">
                @TempData["AlertMessage"]
            </div>
        }
    }

    <div class="container my-4">
        <form asp-action="Edit">
            <div class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdDcIf" />
                <div class="form-group form-check col-md-6">
                    <label class="form-check-label">
                        @Html.DisplayNameFor(model => model.Active) <br />
                        <input class="form-check-input" asp-for="Active" /> 
                    </label>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="IdAcDt" class="control-label"></label>
                    <select asp-for="IdAcDt" class="form-control" asp-items="ViewBag.IdAcDt"></select>
                    <span asp-validation-for="IdAcDt" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="IdEvent" class="control-label"></label>
                    <select asp-for="IdEvent" class="form-control" asp-items="ViewBag.IdEvent"></select>
                    <span asp-validation-for="IdEvent" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="IdProject" class="control-label"></label>
                    <select asp-for="IdProject" class="form-control" asp-items="ViewBag.IdProject"></select>
                    <span asp-validation-for="IdProject" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="IdArtwork" class="control-label"></label>
                    <select asp-for="IdArtwork" class="form-control" asp-items="ViewBag.IdArtwork"></select>
                    <span asp-validation-for="IdArtwork" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="TypeFile" class="control-label"></label>
                    <input asp-for="TypeFile" class="form-control" />
                    <span asp-validation-for="TypeFile" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Path" class="control-label"></label>
                    <input asp-for="Path" class="form-control" />
                    <span asp-validation-for="Path" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="UrlDocument" class="control-label"></label>
                    <input asp-for="UrlDocument" type="file" class="form-control" />
                    <span asp-validation-for="UrlDocument" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Sửa" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-dark">Trở về</a>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
