@model Business.Account

@{
    ViewData["Title"] = "Thêm tài khoản mới";
}

@section Style {
    <style>
        .form-check .form-check-input {
            margin-left: 0px !important;
        }
    </style>
}

<div class="bdlayout p-0">
    <h2 class="h2-title bg7 text-white ">Thêm tài khoản mới</h2>
    @if (TempData["AlertMessage"] != null)
    {
        <div id="alert-message" class="alert @TempData["AlertType"]">
            @TempData["AlertMessage"]
        </div>
    }

    <div class="container my-4">
        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div class="row">
                @Html.AntiForgeryToken()

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group col-md-6">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6">
                    <label asp-for="Phone" class="control-label"></label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" type="password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6">
                    <label asp-for="IdRole" class="control-label"></label>
                    <select asp-for="IdRole" class="form-control" asp-items="ViewBag.IdRole"></select>
                    <span asp-validation-for="IdRole" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label for="ProfileImage" class="control-label">Ảnh đại diện</label>
                    <input type="file" class="form-control" name="ProfileImage" id="ProfileImage" onchange="previewImage(event)" />

                    <!-- Image preview -->
                    <img id="previewImage" src="@Url.Content(ViewBag.Anh == null ? "~/Admin/images/avatars/01.png" : "~/Upload/images/" + ViewBag.Anh)" class="img-thumbnail" style="max-width: 150px; margin-top: 10px;" />
                </div>
                <div class="form-group btnGround">
                    <input type="submit" value="Thêm" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-dark">Trở lại</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        DateTime currentDate = DateTime.Now;

    }
    <script type="text/javascript">
        let upload = document.querySelector("#ProfileImage");
        let img = document.querySelector("#previewImage");
        upload.addEventListener("change", function () {
            var file = upload.files[0];
            console.log("file type", file);
            if (!file) return;
            img.src = URL.createObjectURL(file);
            preview.appendChild(img);
        })
    </script>


    <script src="
https://cdn.jsdelivr.net/npm/ckeditor5-classic-free-full-feature@35.4.1/build/ckeditor.min.js
            "></script>
    <script src="~/Admin/controllers/DocumentController.js?@currentDate"></script>
    <script src="~/Admin/controllers/ckeditorDocumentInfo.js?@currentDate"></script>

}
