@model Business.Account

@{
    ViewData["Title"] = "Chỉnh sửa tài khoản";
}
<div class="bdlayout p-0">
    <h2 class="h2-title bg4 text-white">Chỉnh sửa tài khoản</h2>
    @if (TempData["AlertMessage"] != null)
    {
        <div id="alert-message" class="alert @TempData["AlertType"]">
            @TempData["AlertMessage"]
        </div>
    }

    <div class="container my-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdAccount" />
                <div class="form-group col-md-6">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Phone" class="control-label"></label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" type="password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="IdRole" class="control-label"></label>
                    <select asp-for="IdRole" class="form-control" asp-items="ViewBag.IdRole"></select>
                </div>
                <div class="form-group col-md-6">
                    <label for="ProfileImage" class="control-label">Ảnh đại diện</label>
                    <input type="file" class="form-control" name="ProfileImage" />
                    @if (ViewData["ProfileImageUrl"] != null)
                    {
                        <img src="@Url.Content("~/Upload/Images/" + ViewData["ProfileImageUrl"].ToString())" class="img-thumbnail" style="max-width: 150px; margin-top: 10px;" />
                    }
                    else
                    {
                        <img src="~/Admin/img/avatars/01.png" class="img-thumbnail" style="max-width: 150px; margin-top: 10px;" />
                    }
                </div>



                <div class="form-group btnGround">
                    <input type="submit" value="Sửa" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-dark">Trở về</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
